<div class="container">
      <div class="row">
        <div class="col-sm-12">
        <h1>Characters</h1>
            <div class="list-group">
              {{#each characters as |character|}}
                {{#link-to 'authenticated.play' character}}
                <button id={{character.id}} type="button" class="list-group-item">
                {{character.name}}
                <span class="badge">{{character.level}}</span></button>
                {{/link-to}}
              {{/each}}
              {{#link-to 'authenticated.add-a-character'}}
              <button type="button" class="list-group-item">Add a character</button>
              {{/link-to}}
            </div>
        </div>
    </div>
  </div>