<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Venture</span>
    </div>
    <ul class="nav navbar-nav">
      <li> {{#link-to 'map'}} <span>Map</span> {{/link-to}} </li>
      <li> {{#link-to 'character'}} <span>Character</span> {{/link-to}} </li>
    </ul>
  </div>
</nav>
{{outlet}}
