<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Venture</span>
    </div>
    <ul class="nav navbar-nav">
      <li> {{#link-to 'authenticated.map'}} <span>Map</span> {{/link-to}} </li>
      <li> {{#link-to 'authenticated.characters'}} <span>Character</span> {{/link-to}} </li>
      <li> {{#link-to 'authenticated.secretz'}} <span>Secrets</span> {{/link-to}} </li>
      {{#if session.isAuthenticated}}
        <li><a href="!#" {{action 'invalidateSession'}}>Logout</a></li>
      {{/if}}
</ul>
  </div>
</nav>
{{outlet}}
