<div class="container">
  <div class="row">
    <div class="jumbotron">
    <h1>Login to Venture!</h1>
      <div class="input-group">
        {{input type="text" valueBinding=identification id="email" placeholder="Email" classNames="app-email form-control"}}
        {{input type="password" valueBinding=password id="password" placeholder="Password" classNames="app-password form-control"}}
        <button class="btn btn-default" type="button" {{ action 'authenticate' }}>Login</button>
      </div>
    </div>
  </div>
</div>